body{
    background-color: #b3deff;
    color:#8673a1;
    margin:0;
    font-family:'Times New Roman', Times, serif;
}
.header{
    color:black;
    /* font-weight: bold; */
    margin:50px 0;
    border:0;
    
}
div{
    text-align: center;
}
h1{
    font-size: 72px;
    margin:0;
}
h2{
    font-size: 64px;
    margin:0;
    border-top:2px solid #8ac8ff;
}
a{
    color:black;
    text-decoration: none;
    font-size:32px;
    padding-left:10px;
    padding-right:10px;
    /* font-style:italic; */
}
a:hover{
    border: 1px;
    border-style:solid;
    border-radius: 5px;
    border-color:#6666ff;
    background-color:#e6f4ff;
    cursor:pointer;
}
a:active{
    color:blue;
}
.footer{
    margin-bottom:50px;
    border:0;
    border:5px solid #8ac8ff;
    border-left:0;
    border-right:0;
    color:black;
    font-size:32px;
    background-color: #e6f4ff;
}
.feedback{
    color:blue;
    padding:0;
}
